body {
    background-color:whitesmoke;
}


.navbar {
    background-color:#013369 !important;

}
.navbar-light .navbar-brand{
    color:white;
}

.navbar-brand{
    display: flex;
    align-items: center
}

.navbar-nav{
    margin-left: auto;
}

.dropdown-menu, .dropdown-menu[data-bs-popper]{
    right:0;
    left:unset
}

H1 {
    color:black;
    text-align:center;
}

h2 {
    font-size:20px;
}

